.presentation-img {
  position: relative;
  text-align: left;
  width: 10em;
}

.blob {
  width: 100%;
  border-radius: 2em;
}

.me {
  position: relative;
  z-index: -1;
}

.tag + .tag {
  margin-left: 0.5em;
}

* {
  font-family: "Lato", sans-serif;
}
